/* pc */
@media (min-width: 1024px) {

}

/* tablet & mobile */
@media (max-width: 1023px){
    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }

    #footer .social-list {
        font-size: 48px;
    }

    #footer .copyright {
        padding: 12px;
        display: inline-block;
    }

    #footer .social-list a{ 
        margin: 0 8px;
    }
}

/* tablet */
@media (max-width: 1023px) and (min-width:740px) {
    
}

/* mobile */
@media (max-width: 740px) {

    
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;   
    }

    #nav {
        display: block;
    }
    #nav li {
        display: block;
    }
    #nav li a { 
        padding: 1px 24px;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: inherit;
        background-color: #000;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    
    #content .member-img {
        width: 60%;
    }
    .s-full-width,
    .s-col-full{
        width: 100%;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }
    .contact-form {
        margin-top: 32px;
    }

    
}

